* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    height: auto;
}
.main{
    display:grid;
    grid-template-columns: 50% 50%;
}
.icon img{
    width:80px;
    top: 27.5px;
    left: 270px;
    position: absolute;
    opacity: 0px;
}
.nav ul {
    list-style: none;
}
.nav ul li {
    display: inline;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}
.nav ul li .list-item a{
    color: green;
}
.nav ul li a {
    text-decoration: none;
    color: #fff;
}
.container{
    text-align: center;
}
.container h1{
    padding-top:150px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins',sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 10.5px;
    letter-spacing: 0.11em;
}
.container h2{
    padding-top:70px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins',sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 10.5px;
    letter-spacing: 0.11em;
}
.container span{
    background: linear-gradient(270deg, #00FFA7 0%, #FFFF00 100%); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container p{
    font-size: 16px;
    padding: 50px 0px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    line-height: 27.39px;
    letter-spacing: 0.06em;
    text-align: center;
}
.btn{
    color: #000;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
}
.btn i{
    margin-left: 10px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}
.services-section{
    height: 160vh;
    padding: 60px;
}
.container-1{
    width: 70%;
    margin: auto;
}
.services{
    display: grid;
    grid-template-columns: 60% 30%;
    padding-bottom: 40px;
}
.service-right{
    text-align: right;
    font-size: 18px;
    font-weight: 300;
}
.service-right .icon2{
    margin-left: 20px;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0px 0px 3px #000;
}
.services-grid{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    gap: 30px;
}
.templates{
    border: 3px solid #000;
    text-align: center;
    border-radius: 20px;
    background: #bdf0d4;
}
.border{
    border: 1px solid #000;
}
.section-1{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.section-1 .left img{
    padding-top: 10px;
}
.section-1 .right {
    text-align: left;
    margin-left: -25px;
}
.templates p{
    padding: 10px 0px;
}
.templates img{
    width: 100%;
    padding: 0px;
}
.templates .img-1{
    width: 100%;
    padding-top: 50px;
    margin-bottom: -10px;
}
.templates .img-2{
    width: 100%;
    padding-top: 40px;
    margin-bottom: -16px;
}
.templates .img-3{
    width: 100%;
    padding-top: 20px;
    margin-bottom: -30px;
}
.templates .img-4{
    width: 100%;
    padding-top: 22px;
    margin-bottom: -40px;
}
.templates button{
    padding: 3px 15px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    margin: 10px 0px 10px 60px;

}
.templates button i{
    margin-left: 10px;
    padding: 6px;
    background:linear-gradient(270deg, #00FFA7 0%, #FFFF00 100%);
    color: #000;
    border-radius: 50%;
}
.templates .btn-2{
    background-color: #000;
    color: #fff;
}

/* footer */
.footer{
    background-color: #000;
    height: 40vh;
    text-align: center;
}
.footer-border{
    border: 1px solid #fff;
    width: 50%;
    margin-left: 370px;
}
.footer-img {
    padding: 70px 0px 40px 0px;
}
.footer-img img{
    width: 7%;
}
.copyright{
    color: #fff;
    padding-top: 40px;
    opacity: 0.6;
}


@media only screen and (min-width: 321px) and (max-width:430px) {
    .container{
        width: 100%;
        padding: 30px;
    }
    .main {
        display:flex;
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
    .icon img {
        left: 150px;
    }
    .icon{
        padding-bottom: 40px;
    }
    .nav ul li {
        display:block;
        text-align: center;
    }
    .container h1 {
        padding-top: 60px;
        font-size: 40px;
    }
    .container h2 {
        padding-top: 40px;
        font-size: 25px;
    }
    .container-1 {
        width: 100%;
    }
    .services-section {
        padding:30px;
        height: auto;
    }
    .services {
        display: flex;
       flex-direction: column;
    }
    .service-right {
       display: none;
    }
    .services-grid {
        display:flex;
        flex-direction: column;
    }
    .footer {
        height: 30vh;
    }
    .footer-img {
        padding: 30px 0px 40px 0px;
    }
    .footer-img img {
        width: 30%;
    }
    .copyright {
        padding-top:0px;
    }
}
@media only screen and  (max-width:720px) {
    .container{
        width: 100%;
        padding: 30px;
    }
    .main {
        display:flex;
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
    .icon img {
        left: 290px;
        width: 20%;
    }
    .icon{
        padding-bottom: 40px;
    }
    .nav ul li {
        display:block;
        text-align: center;
        font-size: 30px;
        padding: 20px;
    }
    .container h1 {
        padding-top: 60px;
        font-size: 60px;
    }
    .container h2 {
        padding-top: 70px;
        font-size: 60px;
    }
    .container-1 {
        width: 100%;
    }
    .services-section {
        padding:30px;
        height: auto;
    }
    .services {
        display: flex;
       flex-direction: column;
    }
    .service-right {
       display: none;
    }
    .services-grid {
        display:flex;
        flex-direction: column;
    }
    .footer {
        height: 40vh;
    }
    .footer-img {
        padding: 30px 0px 40px 0px;
    }
    .footer-img img {
        width: 30%;
    }
    .copyright {
        padding-top:0px;
    }
}
@media only screen and  (max-width:1124px) {
    .services-section {
        height: 220vh;
        padding: 60px;
    }
}